logs/
*.log
*.log.*
null/
xim-broker
!xim-broker/
xim-logic
!xim-logic/
xim-dispatcher
!xim-dispatcher/
xchat-app
!xchat-app/
xchat-broker
xchat-logic
xchat-proxy
xchat-xpush
xchat-http-api
examples/*
!examples/*.go
