[submodule "submods/xim-configs"]
	path = submods/xim-configs
	url = git@gitlab.corp.qinqinxiaobao.com:im/xim-configs.git
[submodule "xchat/broker/web"]
	path = xchat/broker/web
	url = git@gitlab.corp.qinqinxiaobao.com:web/XChatDemo.git
	branch = master
